= form_with(model: task, local: true) do |form|
  - if task.errors.any?
    #error_explanation
      %h2
        = pluralize(task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - task.errors.full_messages.each do |message|
          %li= message
  .form
    .field
      = form.text_field :title, placeholder:"Title", class:"form-control mb-3"
    .field
      = form.text_area :content, placeholder:"Comment", class:"form-control"
    .actions
      = form.submit class: 'btn btn-success mt-3 mb-2'
